.body {
    background-color: var(--color-fondo);
    color: var(--color-texto-oscuro);
}

h2 {
    color: var(--color-blanco) !important;
}

h6 {
    color: var(--color-principal) !important;
}

.bg-principal {
    background-color: var(--color-principal) !important;
}

.oscurecedor {
    background-color: #00000061;
    width: 100%;
    position: absolute;
    height: 100%;
}

.videoinicial {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.videoinicial video {
    width: 50%;
}

/* Galería Grid (Fotos que encajan) */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
    margin: 10px;
}

.galeria img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    /* Clave para que encajen */
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 0 !important;
}

.galeria img:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.icono3 {
    position: absolute;
    width: 25%;
    margin-top: -40px;
}
.icono3.pequeño {
    width: 15%;
    margin-top: 60px;
}

.icono4 {
   position: absolute;
    width: 18%;
    margin-top: -94px;
    right: 10px;
}

.icono4.pequeño {
    width: 10%;
    margin-top: 20px;
    right: 10px;
}