.body{
    background-color: var(--color-fondo);
    color: var(--color-texto-oscuro);
}
h2{
    color: var(--color-blanco) !important;
}
h6{
    color: var(--color-principal) !important;
}
.bg-principal{
    background-color: var(--color-principal) !important;
}

